		.heading
		{
		font-family:Euphemia;
		font-size:20px;
		font-weight:bold;
		}
		.para
		{
		font-family:Euphemia;
		font-size:15px;
		}
		.navHeading
		{
		font-size:16px;
		font-family:Microsoft JhengHei;
		text-transform: uppercase;
		line-height:2px;
		word-spacing:1px;
		}
		.navbar-custom
		{
		position:relative;
		background-color:#378DFF;
		}
		.navbar-custom #smallMenu ul li a
		{
		color:white;
		}
		.navbar-custom #smallMenu ul li a:hover
		{
		background-color:#D6EFED;
		color:#535857;
		}
		
		
		
		.header
		{
			padding:20px 0px 20px 0px;
			background-color:white;
		}
		
		.header .header-search #s
		{
			border:none;
			background: #EFEBE7;
			width:80%;
			padding:10px;
			
		}
		.header .sbutton
		{
			border:none;
			background-color: #f47555;
			color:white;
			width: 40px;
			height: 40px;
			font-size:20px;
			
		}
		.social
		{
			text-align:right;
			margin-top:20px;
			
		}
		.social ul li a
		{
			color:white;
			padding:15px;
			
		}
		@media (max-width: 768px) 
		{
		.header .col-sm-2,.header .col-sm-4
		{
			text-align:center;
		}
		}
/* Footer */
.footer
{
	background-color:#3F4745;
	padding:10px 0px 10px 0px;
}
.footer div p
{
	color:white;
	font-size:15px;
}
.footer div  span
{
	color:grey;
	padding-left:5px;
}
.footer input
{
	border:none;
	width:60%;
	height:30px;
}


		